{deps,
 [
  {lager, ".*",
   {git, "https://github.com/basho/lager.git", {tag, "2.0.0"}}},
  {ranch, ".*",
   {git, "git://github.com/extend/ranch.git", {tag, "0.8.3"}}}
 ]
}.

{erl_opts, [{src_dirs, ["src", "tests"]}, {i, "include"},
            {parse_transform, lager_transform}]}.

%{ct_extra_params, "-config /home/arjan/devel/studiomarch/secrets.config -s getaroom"}.
